<h1>About</h1>

<h2>Credits</h2>

<h1 class="h3">Our Research Team</h1>

<h2 class="h4">Project Director</h2>
<ul>
  <li><a href="https://www.linkedin.com/in/ngangamuchiri/">Ng’ang’a Wahu-Muchiri</a>, Assistant Professor of English, University of Nebraska</li>
</ul>

<h2 class="h4">CDRH Faculty and Staff</h2>
<ul>
  <li><a href="https://cdrh.unl.edu/about/faculty/walter">Katherine Walter</a>, Co-director. Chair, Digital Initiatives &amp; Special Collections, UNL Libraries</li>
  <li><a href="https://cdrh.unl.edu/about/staff/dalziel">Karin Dalziel</a>, Digital Development Manager &amp; Designer</li>
  <li><a href="https://cdrh.unl.edu/about/staff/dussault">Jessica Dussault</a>, Programmer</li>
  <li><a href="https://cdrh.unl.edu/greg-tunink">Greg Tunink</a>, Programmer</li>
  <li><a href="https://cdrh.unl.edu/about/staff/weakly">Laura Weakly</a>, Metadata Encoding Specialist</li>
</ul>