<h1>About</h1>

<h2>Credits</h2>

<h1 class="h3">Our Research Team</h1>

<h2 class="h4">Project Director</h2>
<ul>
  <li>Ng’ang’a Wahu-Muchiri, Assistant Professor of English, University of Nebraska</li>
</ul>

<h2 class="h4">CDRH Faculty and Staff</h2>
<ul>
  <li>Katherine Walter, Co-director. Chair, Digital Initiatives &amp; Special Collections, UNL Libraries</li>
  <li>Karin Dalziel, Digital Development Manager &amp; Designer</li>
  <li>Jessica Dussault, Programmer</li>
  <li>Greg Tunink, Programmer</li>
  <li>Laura Weakly, Metadata Encoding Specialist</li>
</ul>