<h1>Digital Humanities Roundtable</h1>

<p><strong>Day 1: Thurs. July 07, 2022</strong></p>
<p>1000 - 1100: Intros / Why we’re here</p>
<p>1100 - 1130: Break</p>
<p>1130 - 1300: First presentations & Q&A (Presenters 1, 2, 3,)</p>
<p>1300 - 1400: Lunch</p>
<p>1300 - 1400: Lunch
1400 - 1530: Second presentations & Q&A  (Presenters 4, 5)</p>
 
<p><strong>Day 2: Fri. July 08, 2022</strong></p>
<p>1000 - 1130: Reflections & Goals</p>
<p>1130 - 1230: Lunch</p>
<p>1230 - 1330: Brainstorm Session 1 (DH 2023)</p>
<p>1330 - 1345: Break</p>
<p>1345 - 1530: Brainstorm Session 2 (DH 2023)</p>
 
<p>We are also looking forward to sharing preliminary ideas for future events. Our hope is to keep building community among DH practitioners on the African continent. We are excited to brainstorm ideas that could enable us to bring digital humanities scholars together, and benchmark what DH on the African continent and in the diaspora looks like. We believe networking and collaborating will encourage a sharing of resources and strategies.</p>
