<p class="lead"><strong>Intellectual Background:</strong> African land inequity is closely tied to global European imperialism in the late 19th and early 20th centuries. Between 1885 and 1950, over 80% of African lands belonged to—and were governed by—Belgium, Britain, France, Germany, Italy, Portugal, and Spain. The era of African self-governance in the 50s and 60s unsuccessfully sought to address this resource inequity. Tanzania’s dalliance with Ujamaa, or African Socialism, failed to gain traction with the people. Ethiopia’s attempt at state-ownership of land sparked famine and civil war. Zimbabwe’s experiments with land re-distribution were hobbled by cronyism and xenophobia. Hence, by the late 20th century, African nation-states had yet to adequately re-allocate land to their citizens. Resolving the challenges that farmers, pastoralists, home-owners, ranchers, industrialists, etc. face in acquiring land is crucial for Africa’s ability to feed its people and generate employment.</p>
 
<p>Because land grabs and resource-based conflicts are common and recurrent, land inequality crosses multiple knowledge areas: human geography, agriculture, political economy, sociology, and anthropology. I will use Digital Humanities (DH) methodologies to identify connections and patterns that emerge across the African continent over a 100-year period. The long-term goal of this research is to ascertain varied continent-wide approaches that sustainably resolve land inequality. In the short term, the purview of this project is to investigate the 1850-1960 history of African land acquisitions, increasing the chances of re-discovering home-grown solutions. I intend to achieve the following objectives:</p>

<ul>
  <li>digitize and encode (XML)  40 sovereignty treaties between European nations and African political entities</li>
  <li>curate encoded documents online for use by other scholars</li>
  <li>perform Natural Language Processing on encoded data</li>
  <li>determine patterns of rhetoric regarding land use</li>
  <li>produce data visualizations and publicly disseminate my research findings</li>
</ul>