@import "bootstrap-variables";

a {
  text-decoration: underline;
  text-decoration-color: $brand-info;
  &:hover {
    text-decoration-color: $brand-info;
    text-decoration-thickness: 3px;
  }
}

#header a, #footer a, a.btn, .back_to_top a {
  text-decoration: none;
}

#header  {
  background: $brand-success;
  text-align: center;
  
}

#header .site-title-container a:focus,
#header .site-title-container a:hover
{
  text-decoration: none;
}

#header .site-title-container .site-title, 
#header .site-title-container .site-subtitle {
  display: block;
  
}

#header .site-title-container .site-title {
  font-size: 1.6em;
color: white;
  text-decoration: none;
}

#header .site-title-container .site-subtitle {
  font-size: .9em;
 color: white;
  margin-bottom: .7em
}

#header .navbar.navbar-default {}

.nav > li {
  display: inline-block;
}

#header .navbar-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

p.lead {
  font-size: 1.2em;
}

#footer {
  background-color: $gray-base;
  color: #fff;
  padding: 2em;
  text-align: center;
  margin-bottom: 0;
}

#body-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

#content-wrapper, .home_container {
  flex-grow: 1;
}

#header .navbar {
  margin-bottom: 0;
}

#header {
  margin-bottom: 2em;
}


// back to top

.back_to_top a {
  background: #fff;
  border: solid 1px $gray-light;
  bottom: 0;
  box-shadow: 0px 0px 5px 3px rgba($gray-dark,0.3);
  padding: .1em 1em .3em 1em;
  position: fixed;
  right: 20px;
  z-index: 1000;
}

 .back_to_top a:hover {
  background-color: $link-color;
  color: #fff;
}





.metadata ul {
  columns: 2;
}

.metadata ul {
  columns: 2;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.metadata {
  border: 1px solid #aaa;
  padding: 10px 20px;
  margin: 10px 0;
}





// TEI

.tei_ab, .tei_byline, .tei_fw {
  display:block;
}

.tei_byline, .tei_ab_type_subhead, .tei_ab_type_credit {
  font-weight: 800;
  margin-bottom: .5em;
  margin-top: .5em;
}

.tei_fw {
  margin-bottom: 1em;
}



// ================
// TEI
// ================

// Proofs



.tei_hi_rend_underline {
  text-decoration: underline;
}

.tei_supplied {
  background-color: yellow;
}

// Metamark / adds

.tei_add_place_inline, 
.tei_add_place_margin-bottom,
.tei_add_place_margin-left, 
.tei_add_place_margin-right,
.tei_add_place_margin-top, 
.tei_add_rend_circle {
  border: solid #aaa 1px;
  display: inline;
  background-color: beige;
  padding: 1px 3px 0px 3px;
}

.tei_add_place_inline {
  &:before {
    content: "[inline]  ";
  }
}

.tei_add_place_margin-left {
  &:before {
    content: "[margin left]  ";
  }
}

.tei_add_place_margin-bottom {
  &:before {
    content: "[margin bottom]  ";
  }
}

.tei_add_place_margin-right {
  &:before {
    content: "[margin right]  ";
  }
}

.tei_add_place_margin-top {
  &:before {
    content: "[margin top]  ";
  }
}

.tei_add_rend_circle {
  border-radius: 7px;
}

.tei_seg {
  background-color: $gray-light;
  border-bottom: dashed black 1px;
}

.tei_metamark_rend_lasso {
  min-width: 1em;
  min-height: 1em;
  display: inline-block;
  border: dashed 1px black;
  background-color: platinum;
  border-radius: 7px;
}

// Note there will be empty select rules until 
// I figure out if I need to style them

// Poems

div.poem {}

.tei_lg_type_stanza {}

.tei_lg {
  display: block;
  margin-bottom: 1em;
}

.tei_l {
  display: block;
}

// Texts

.tei_byline,
.tei_ab {
  display: block;
}

.tei_ab {
  margin: 0 0 .69em;
}

.tei_byline {
  margin-bottom: .5em;
}

.tei_ab_type_title {
  font-size: 1.2em;
  font-weight: 600;
}

.tei_note {
  background-color: $gray-light;
}

.bold {
  font-weight: 600;
}

.tei_name {
  font-style: italic;
}

.tei_fw, .tei_titlePage {
  background-color: $gray-lighter;
  display: block;
  margin-bottom: .5em;
  text-align: center;
}

.tei_titlePage {
  border: solid 1px $gray-lighter;
  margin: .5em 0;
  padding: .5em;
}

.SmallCaps {
  text-transform: uppercase;
}

.tei_sic {
  background-color: $gray-light;
}

.tei_sic:after {
  content: " [sic]";
}

.milestone {
  border-top: solid 2px $gray-light;
  display: block;
}

.tei_dateline {
  display: block;
}

.tei_q {
  display: block;
  margin: .5em 0;
  padding: .5em 4em .5em 4em;
}

.tei_salute {
  display: block;
  margin: .5em 0;
}

.tei_name_type_place {
display: block;
}

.tei_address {
  margin-top: 1.5em;
  display: block;
}

.tei_addrline {
  display: block;
}

.unclear,
.tei_gap_reason_illegible {
  color: #aaa;
}

.inline_tei_rend_insertion {
  vertical-align: sub; /* prevents triangle formation */
}

.tei_list_type_simple {
  list-style: none;
  padding: 0;
  margin: 0 0 1em 0;
}

.tei_titlePage {
  margin: 1em 0;
  display:block;
}

.tei_milestone_rend_horbar-short-center {
  width: 6em;
  margin: 1em auto;
}

.tei_pubPlace {
  display: block;
}

.tei_opener,
.tei_salute,
.tei_signed,
.tei_label,
.tei_dateline,
.tei_closer {
  display: block;
}

.tei_del {
  text-decoration: line-through;
}

.underline { 
  text-decoration: underline; 
}
