<%= render "items/maps/setup" %>

<%# overriding the search_preset template with
some extra JS and a map div instead of item list %>



<div class="row search_form search_preset search_preset_<%= @preset_class %>">

  <%# do not display any facet options or summary boxes for this view %>

 

 



  

 
</div>
