<% current = map_selected_title %>

<div id="map_buttons" class="">
  <% if @facets && @facets["title"] %>
    <div class="btn-group map-btn-group btn-group-justified" role="group" aria-label="...">

      <%= link_to "All Documents", map_path + "#map_complete_container", class: map_nav_class(nil, current) %>

      <% @facets["title"].each do |title, count| %>
        <%= link_to title, map_path(f: ["title|#{title}"]) + "#map_complete_container", class: map_nav_class(title, current) %>

      <% end %><%# /facets.each %>
    </div><%# /btn-group %>
  <% end %><%# /if facets title %>
</div><%# /map_buttons %>
